# Scala

service/project/boot
service/project/plugins/project
service/project/plugins/target
service/project/target
service/target
.ensime
TAGS
\#*#
*~
.#*
.lib
*.aux.xml
*.pyc
*.log
target/
graph/

# Ansible
deployment/ansible/roles/azavea.*
*.retry
.vagrant

