@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

html,
body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: 100%;
}
body {
    position: relative;
    padding-top: 70px;
}

.navbar {
    height: 70px;
    }
    .navbar-form {
        padding: 6px 15px;
        }
        .navbar-form .form-control {
            padding: 10px 14px;
            height: 42px;
        }

.content {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 70px;
    }
    #sidebar {
        width: 360px;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        background: #F1F2F2;
        }
        #sidebar .sidebar-top {
            border-bottom: 1px solid #CCC;
        }
        #sidebar .sidebar-inner {
            padding: 20px;
        }
        #sidebar .sidebar-inner .progress {
            margin: 10px 0 0;
        }
        
    #map {
        left: 360px;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: #CCC;
    }
    
.progress-bar-10 {
    width: 10%;
}