/* General -------------------------------------------- */

.fullwidth {
    min-width: 100%;
}

.desktop {
    display: block !important;
}
.mobile {
    display: none !important;
}

.navbar-header {
    width: 100%;
    text-align: center;
}

.navbar-inverse {
    background: #1c2e3f;
}

.navbar-nav {
    width: 35%;
}
.navbar-nav > li {
    display: inline-block;
    float: right;
}
    .navbar-nav li > a {
        -webkit-transition: 0.2s;
        -moz-transition:    0.2s;
        transition:         0.2s;
    }
    .navbar-nav li > a:hover {
        -webkit-opacity: 0.7;
        -moz-opacity:    0.7;
        opacity:         0.7;
    }
#sidebar-toggle {
    display: none;
}


/* Sidebar -------------------------------------------- */

#sidebar {
    position: fixed;
    right: 0;
    top: 51px;
    bottom: 0;
    padding: 20px;
    min-width: 325px;
    background: #f8f8f8;
    border-left: 1px solid #c2c2c2;
    -webkit-box-shadow: 1px 0px 5px rgba(0,0,0,0.2);
    -moz-box-shadow:    1px 0px 5px rgba(0,0,0,0.2);
    box-shadow:         1px 0px 5px rgba(0,0,0,0.2);
    color: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.option-group {
    padding: 15px 25px 25px;
    margin: 0 -20px;
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;
}
    .first {
        margin-top: -20px !important;
        background-color: #D5D5D5;
    }

    .first .ui-widget-content{
        border: 1px solid #c2c2c2;
    }

    .option-label {
        font-size: 15px;
        font-weight: bold;
    }
    .option-group select {
        padding: 7px;
        min-width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius:    3px;
        border-radius:         3px;
        border: 1px solid #c2c2c2;
    }


/* Map ------------------------------------------------ */

#map {
    position: absolute;
    width: auto;
    height: 100%;
    left: 0;
    right: 325px;
    z-index: -999;
    bottom: 0;
}

.leaflet-left .leaflet-control {
    margin-top: 57px;
}


/* Scrollbars ----------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    z-index: 9999;
}
 
::-webkit-scrollbar-track {
        background-color: rgb(248, 248, 248);
    border-radius: 0;
    border: 1px solid #eee;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}


/* =======================================================
   Value Viewer
======================================================= */

.valueGrid { 
    margin:1em auto; 
    border-collapse:collapse;
    width: 100%
}

.valueGrid td {
    /* width:30px; height:30px;  */
    border:2px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.centerCell {
    background-color:yellow;
    font-weight:bold; color:red;
}
